<%#= link_to care_actions_path, class: 'link' do %>
  <%#= image_tag 'care_actions/hellohuman2.png', class: 'main-image' %>
<%# end %>

<div class='container'>
  <div class='row'>
    <div class='col-sm'>
      <div class='card border-success mb-3'>
        <%= image_tag 'care_actions/walk.png', style: 'width: 11rem; align-self: center;' %>
        <div class='card-body text-success'>
          <h5 class='card-title'>
            <%= CareAction.walk.last&.user&.nick_name %>
          </h5>
          <p class='card-text'>
            <%= time_ago_in_words(CareAction.walk.last&.start_time) + ' ago' if CareAction.walk.last %>
          </p>
          <%= form_with model: @care_action do |f| %>
            <%= f.hidden_field :category, value: 'walk' %>
            <%= f.submit :walk, class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class='col-sm'>
      <div class='card border-info mb-3'>
        <%= image_tag 'care_actions/poop.png', style: 'align-self: center;' %>
        <div class='card-body text-info'>
          <h5 class='card-title'>
            <%= CareAction.poop.last&.user&.nick_name %>
          </h5>
          <p class='card-text'>
            <%= time_ago_in_words(CareAction.poop.last&.start_time) + ' ago' if CareAction.poop.last %>
          </p>
          <%= form_with model: @care_action do |f| %>
            <%= f.hidden_field :category, value: 'poop' %>
            <%= f.submit :poop, class: 'btn btn-primary'  %>
          <% end %>
        </div>
      </div>
    </div>

    <div class='col-sm'>
      <div class='card border-primary mb-3'>
        <%= image_tag 'care_actions/food.png', style: 'align-self: center;' %>
        <div class='card-body text-primary'>
          <h5 class='card-title'>
            <%= CareAction.food.last&.user&.nick_name %>
          </h5>
          <p class='card-text'>
            <%= time_ago_in_words(CareAction.food.last&.start_time) + ' ago' if CareAction.food.last %>
          </p>
          <%= form_with model: @care_action do |f| %>
            <%= f.hidden_field :category, value: 'food' %>
            <%= f.submit :food, class: 'btn btn-primary'  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
